body {
    font-family: monospace;
}

.main_content {
    margin: 10px 30px;
    width: 100%;
}

.wrap_roulette_number {
    /* position: relative; */
    font-size: 320px;
    font-weight: bold;
    line-height: 1em;
    width: 480px;
    text-align: center;
    margin: 0px auto 20px;
}

.button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
}

.roulette_button {
    text-align: center;
}

ul.numbers {
    height: 240px;
    margin: 0px;
    padding: 0px;
}

li.number {
    list-style-type: none;
    margin-right: 0.5em;
    font-size: 48px;
    font-weight: bold;
    color: #ac6262;
    float: left;
    line-height: 1.2em;
    text-align: center;
    width: 65px;
}

.clear {
    clear: both;
}

.display_none {
    display: none;
}